#ELIANA MARÍA CORTÉS CHACÓN Y SILVIA NATALIA JAIMES
##PROGCOM-A

Ejercicio 4

In [ ]:
B=int (input("Ingrese un numero para hallar el factorial"))

def factorial(B):
 if B<0: 
  print("Factorial of negative num does not exist")
 elif B == 0: 
  return 1
 else: 
  fact = 1
  while(B > 1): 
    fact *= B
    B -= 1
    return fact 
B = 5; 
print("Factorial of",B,"is", factorial(B))

In [ ]:
from math import factorial
for a in range (0,11):
  x=int(input("Ingrese el número al que le quiere calcular el factorial "))
print("Factorial is ",+factorial(x))

Ejercicio 6

In [16]:
x=int(input("Qué tabla desea generar? "))
print("Tabla del ", x)
for s in range (1,11):
  print(x, "x",s,"=",x*s)

Qué tabla desea generar? 5
Tabla del  5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [28]:
n=1
while n!=10:
  n=n+1
  print("tabla del" ,n)
  for i in range (1,10):  
    print(f" {n} * {i} =" ,n*1)
print("")

tabla del 2
 2 * 1 = 2
 2 * 2 = 2
 2 * 3 = 2
 2 * 4 = 2
 2 * 5 = 2
 2 * 6 = 2
 2 * 7 = 2
 2 * 8 = 2
 2 * 9 = 2
tabla del 3
 3 * 1 = 3
 3 * 2 = 3
 3 * 3 = 3
 3 * 4 = 3
 3 * 5 = 3
 3 * 6 = 3
 3 * 7 = 3
 3 * 8 = 3
 3 * 9 = 3
tabla del 4
 4 * 1 = 4
 4 * 2 = 4
 4 * 3 = 4
 4 * 4 = 4
 4 * 5 = 4
 4 * 6 = 4
 4 * 7 = 4
 4 * 8 = 4
 4 * 9 = 4
tabla del 5
 5 * 1 = 5
 5 * 2 = 5
 5 * 3 = 5
 5 * 4 = 5
 5 * 5 = 5
 5 * 6 = 5
 5 * 7 = 5
 5 * 8 = 5
 5 * 9 = 5
tabla del 6
 6 * 1 = 6
 6 * 2 = 6
 6 * 3 = 6
 6 * 4 = 6
 6 * 5 = 6
 6 * 6 = 6
 6 * 7 = 6
 6 * 8 = 6
 6 * 9 = 6
tabla del 7
 7 * 1 = 7
 7 * 2 = 7
 7 * 3 = 7
 7 * 4 = 7
 7 * 5 = 7
 7 * 6 = 7
 7 * 7 = 7
 7 * 8 = 7
 7 * 9 = 7
tabla del 8
 8 * 1 = 8
 8 * 2 = 8
 8 * 3 = 8
 8 * 4 = 8
 8 * 5 = 8
 8 * 6 = 8
 8 * 7 = 8
 8 * 8 = 8
 8 * 9 = 8
tabla del 9
 9 * 1 = 9
 9 * 2 = 9
 9 * 3 = 9
 9 * 4 = 9
 9 * 5 = 9
 9 * 6 = 9
 9 * 7 = 9
 9 * 8 = 9
 9 * 9 = 9
tabla del 10
 10 * 1 = 10
 10 * 2 = 10
 10 * 3 = 10
 10 * 4 = 10
 10 * 5 = 10
 10 * 6 = 10
 10 * 7 = 10
 10 * 8 = 10
 10 * 9 = 10

Ejercicio 7

In [29]:
print("Ingrese los números a sumar")
a=int(input(" "))
b=0

for i in range (1,a):
  print(i)
  b=b+i
  print("La suma es: ",b)

Ingrese los números a sumar
 100
1
La suma es:  1
2
La suma es:  3
3
La suma es:  6
4
La suma es:  10
5
La suma es:  15
6
La suma es:  21
7
La suma es:  28
8
La suma es:  36
9
La suma es:  45
10
La suma es:  55
11
La suma es:  66
12
La suma es:  78
13
La suma es:  91
14
La suma es:  105
15
La suma es:  120
16
La suma es:  136
17
La suma es:  153
18
La suma es:  171
19
La suma es:  190
20
La suma es:  210
21
La suma es:  231
22
La suma es:  253
23
La suma es:  276
24
La suma es:  300
25
La suma es:  325
26
La suma es:  351
27
La suma es:  378
28
La suma es:  406
29
La suma es:  435
30
La suma es:  465
31
La suma es:  496
32
La suma es:  528
33
La suma es:  561
34
La suma es:  595
35
La suma es:  630
36
La suma es:  666
37
La suma es:  703
38
La suma es:  741
39
La suma es:  780
40
La suma es:  820
41
La suma es:  861
42
La suma es:  903
43
La suma es:  946
44
La suma es:  990
45
La suma es:  1035
46
La suma es:  1081
47
La suma es:  1128
48
La suma es:  1176
49
La suma es:  1225
50
La suma es:  1275
51
La suma es:  1326
52
La suma es:  1378
53
La suma es:  1431
54
La suma es:  1485
55
La suma es:  1540
56
La suma es:  1596
57
La suma es:  1653
58
La suma es:  1711
59
La suma es:  1770
60
La suma es:  1830
61
La suma es:  1891
62
La suma es:  1953
63
La suma es:  2016
64
La suma es:  2080
65
La suma es:  2145
66
La suma es:  2211
67
La suma es:  2278
68
La suma es:  2346
69
La suma es:  2415
70
La suma es:  2485
71
La suma es:  2556
72
La suma es:  2628
73
La suma es:  2701
74
La suma es:  2775
75
La suma es:  2850
76
La suma es:  2926
77
La suma es:  3003
78
La suma es:  3081
79
La suma es:  3160
80
La suma es:  3240
81
La suma es:  3321
82
La suma es:  3403
83
La suma es:  3486
84
La suma es:  3570
85
La suma es:  3655
86
La suma es:  3741
87
La suma es:  3828
88
La suma es:  3916
89
La suma es:  4005
90
La suma es:  4095
91
La suma es:  4186
92
La suma es:  4278
93
La suma es:  4371
94
La suma es:  4465
95
La suma es:  4560
96
La suma es:  4656
97
La suma es:  4753
98
La suma es:  4851
99
La suma es:  4950

Ejercicio 10

In [31]:
#con while
n=1
b=1
while n>0 and b<11:
  n=int(input("Ingresa un número para multiplicar "))
  b=int(input("Ingresa otro número para multiplicar "))
  x=n*b
  print("El resultado es" ,x)
print("Su número está fuera del rango")

Ingresa un número para multiplicar 2
Ingresa otro número para multiplicar 11
El resultado es 22
Su número está fuera del rango

In [ ]:
#con for
n=1
b=1
for i in range (1,10):
  n=int(input("Ingresa un número para multiplicar "))
  b=int(input("Ingresa otro número para multiplicar "))
  i=n*b
  print("El resultado es" ,i)
print("Su número está fuera del rango")